/* REM values to target root elements 1REM = 16px*/
:root{
  --mainBlue:#40ACF1;
  --transparentBlue:rgba(64,172,241,0.7);
  --mainWhite:#FFFFFF;
  --mainBlack:#292F36;
  --maingrey:rgb(216,214,214);
  --mainYellow:#e3b505;
}
body{
  font-family: 'Roboto', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}
/**GLOBAL STYLES***/
.section-title-special{
  background: var(--transparentBlue);
  color: var(--mainWhite);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

/***PRELOADER***/
.preloader{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--mainWhite);
  z-index: 999;
  
}
.hide-preloader{
  display: none!important;
}
/***END PRELOADER***/
/**/
/****NAV BAR***/
.navbar-change{
  position: fixed;
  width: 100%;
  padding: 1rem;
  background: var(--mainYellow)!important;
  z-index: 100;
}
.navbar{
  background: var(--mainWhite);
  transition: all 2s ease-in-out;
}
.navbar-icon{
  font-size: 3rem;
  color: var(--mainBlue);
}
.navbar-toggler{
  outline-color: var(--mainBlue)!important;
}
.nav-link{
  color: var(--mainBlack);
  text-transform: capitalize;
}
.nav-link:hover{
  color: var(--mainBlue);
}
.nav-icon{
  font-size: 1.5rem;
  color: var(--mainBlue);
  text-decoration: none!important;
  transition: all 0.5s ease;
}
.nav-icon:hover{
  color: var(--mainBlack)
}
/****END NAV BAR***/

/****HEADER****/
.header{
  color:var(--mainWhite);
  clip-path: polygon(0 0,100% 0,100% 95%,50% 100%,0 95%);
  overflow: hidden;
}
.height-max{
  min-height: calc(100vh - 76px);
  background: url('../img/headerBcg.jpeg') center/cover fixed no-repeat;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
.col-md-9{padding-bottom: 12rem;}

@keyframes zoom{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2) translateX(-5%);
  }
  100%{
    transform: scale(1);
  }
}
.title-heading{
  background: rgba(0,0,0,0.4);
  border-left: 0.3rem solid var(--mainBlue);
}
.title{
  font-weight: 700;
  font-size: 1.9rem;
}
@media screen and (min-width:768px){
  .title{
    font-size: 3rem;
  }
}
.title-icon{
  color: var(--mainBlue);
  text-decoration: none!important;
}
.title-icon:hover{
  color:var(--mainBlue);
  opacity: 0.6;
}

/****END HEADER****/

/*****SKILLS*****/
.skills-icon{
  font-size: 3rem;
  color: var(--mainYellow);
  background: var(--maingrey);
}
.skills-icon:hover{
  color: var(--mainYellow);
  text-decoration: none!important;
}
.skills-underline{
  width: 4rem;
  height: 0.3rem;
  background: var(--mainBlue);
  margin: 1rem auto;
}
/*****END SKILLS*****/

/****INVENTORY****/
.inventory{
  background: var(--maingrey);
}
.car-card{
  border-radius: 0!important;
}
.car-img{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.car-value{
  background: var(--mainBlue);
  color: var(--mainWhite);
  clip-path:polygon(15% 0, 85% 0, 100% 100%,0 100%);
  transition: all 0.3s linear;
  cursor: pointer;
}
.car-value:hover{
  clip-path:polygon(0 0, 100% 0, 100% 100%,0 100%);
}
/****END INVENTORY****/

/*****QUESTIONs****/
.question{
  background: url('../img/questionBcg.jpeg') center/cover fixed no-repeat;
}
.question-grey{
  background: rgba(79,109,122,0.75);
}
.question-yellow{
  background: rgba(227,181,5,0.75);
}
.question-icon{
  font-size: 4rem;
  color: var(--mainBlue);
  transition: all 0.5s ease-in-out;
}
.question-icon:hover{
  color: var(--mainBlue);
  transform: translateY(-10%);
}
.question-info{
  color:var(--mainWhite);
}
/*****END QUESTIONs****/

/******FEATURED*****/
.featured{
  background: var(--maingrey);
}
.featured-item{
  background: var(--mainWhite);
  border-radius: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.featured-item:hover{
  opacity: 1;
  transform: scale(1.05);
}
.featured-icon{
  font-size: 1.5rem;
  color: var(--mainYellow);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.featured-icon:hover{
  color: var(--mainBlue);
}
.img-container{
  background: var(--mainBlue);
  position: relative;
  overflow: hidden;
}
.featured-photo{
  transition: all 1s ease-in-out;
}
.img-container:hover .featured-photo{
  transform: scale(1.3);
  opacity: 0.5;
}
.featured-link{
  position: absolute;
  top: 45%;
  right: 45%;
  font-size: 3rem;
  color:var(--mainBlack);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.featured-link:hover{
  color:var(--mainWhite);
}
.img-container:hover .featured-link{
  opacity: 1;
}
/******END FEATURED*****/

/*****GALLERY****/
.gallery-item{
  background: var(--mainYellow);
  position: relative;
  cursor: pointer;
}
.gallery-img{
  transition: all 1s ease-in-out;
}
.gallery-item:hover .gallery-img{
  opacity: 0.5;
}
.gallery-item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainWhite);
  outline-offset: -2rem;
  transition: all 1s ease-in-out;
  transform: scale(0);
}
.gallery-item:hover:after{
  transform: scale(1);
}
/*****END OF GALLERY****/

/*****CONTACT ****/
.contact{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/headerBcg.jpeg') center/cover fixed no-repeat;
}
.contact-input{
  font-size: 1.5rem;
  text-transform: capitalize;
  background: transparent;
  border-color: var(--mainYellow);
  color: var(--mainYellow)!important;
}
.contact-input::placeholder{
  color: var(--mainYellow);
}
.contact-input:focus{
  background: transparent;
  border-color: var(--mainYellow);
}
.contact-button{
  text-transform: uppercase;
  color:var(--mainYellow);
  border-color: var(--mainYellow);
}
.contact-button:hover{
  background: var(--mainYellow);
  color: var(--mainBlack);
}
/*****END OF CONTACT ****/

/****SERVICES***/
.services{
  position: relative;
  min-height: 85vh;
  max-width: 95vw;
  margin: 0 auto;
  clip-path: polygon(0 10%,100% 0,100% 90%, 0 100%);
}
.video-container{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3
}
.video-item{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.video-overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--transparentBlue);
  z-index: -2;
}
.service{
  background: var(--mainBlack);
  color:var(--mainWhite);
  transition: all 1s ease-in-out;
}
.service:hover{
  background: var(--mainWhite);
  color:var(--mainBlack);
  padding-left: 2.2rem!important;
}
.services-icon{
  font-size: 4rem;
  color:var(--mainYellow);
}
/****END OF SERVICES***/

/****QUOTES****/
.customer-card-body{
  margin-top: -4rem!important;
  color: var(--maingrey);
}
.customer-img{
  border: 0.5rem solid var(--mainWhite);
}
.customer-name{
  color: var(--mainBlue);
  margin: 0.5rem;
}
.customer-icon{
  font-size: 2rem;
  color: var(--maingrey);
}
.customer-quote{
  max-width: 90%;
}
/****END OF QUOTES****/

/****FOOTER***/
.footer{
  background: var(--mainBlack);
  clip-path: polygon(50% 35%, 100% 0, 100% 100%, 0 100%, 0 0);
}
.footer-icon{
  font-size: 2rem;
  text-decoration: none;
  color: var(--mainYellow);
  transition: all 1s ease-in-out;
}
.footer-icon:hover{
  color: var(--mainBlue);
}
